.result-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f8f9fa; /* Warna latar belakang yang netral */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.result-header {
    margin-bottom: 20px;
}

.result-text {
    color: #e67e22; /* Warna utama tetap */
    font-size: 32px; /* Ukuran teks lebih besar agar lebih terlihat */
    font-weight: bold;
}

.diagram-container {
    max-width: 300px;
    width: 100%;
    background: #ffffff; /* Warna putih untuk kontras */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan lebih nyata */
    margin-bottom: 20px;
}

.diagram-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; /* Membuat sudut gambar agak membulat */
}


.back-to-home {
    display: inline-block;
    margin-top: 20px;
    background-color: #e67e22; /* Warna oranye untuk tombol */
    color: white;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 25px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk tombol */
}

.back-to-home:hover {
    background-color: #d35400;
    transform: scale(1.05); /* Efek zoom kecil saat dihover */
}

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

.back-arrow:hover {
    color: #e67e22; /* Warna oranye saat hover */
}
