<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new project</title>
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>
<body>
    <a href="#" class="back-button">←</a>
    <div class="container">
        <h1 class="title">
            <span class="title-orange">Create</span><br>
            <span class="title-black">a new project</span>
        </h1>
        
        <form method="POST" class="form">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Menampilkan field form secara otomatis -->
            
            {% if form.project_name.errors %}
                <div class="error">
                    {{ form.project_name.errors }}
                </div>
            {% endif %}
            {% if form.project_description.errors %}
                <div class="error">
                    {{ form.project_description.errors }}
                </div>
            {% endif %}
            
            <button type="submit" class="create-button">Create</button>
        </form>
    </div>

    <script src="{% static 'create.js' %}"></script>
    
</body>
</html>