<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate it to Your Own</title>
    <link rel="stylesheet" href="{% static 'css/generate.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <a href="#" class="back-button">←</a>
            <h1><span class="orange-text">Generate</span> it to<br>Your Own</h1>
            <p>Project Name: {{ project.nama_project }}</p>
            <p>Description: {{ project.deskripsi_project }}</p>
        </header>

        <main class="content">
            <a href="{% url 'homepage' %}" class="card-container">
                <div class="card">
                    <div class="image-placeholder">
                        <img src="{% static 'images/usecase.png'%}" alt="Use Case Diagram">
                    </div>
                    <p class="card-title">Use Case Diagram</p>
                </div>
            </a>

            <a href="{% url 'inputUS' project.id_project %}" class="card-container">
                <div class="card">
                    <div class="image-placeholder">
                        <img src="{% static 'images/userstory.png' %}" alt="User Story">
                    </div>
                    <p class="card-title">User Story</p>
                </div>
            </a>
        </main>
    </div>
    <script src="{% static 'generate.js' %}"></script>
</body>
</html>