<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generate - Input GUI</title>
  <link rel="stylesheet" href="{% static 'css/gui.css' %}">
</head>
<body>
    <!-- Header -->
    <header class="main-header">
        <div class="logo">
            <img src="{% static 'images/logoo.png' %}" alt="Generate Logo" class="logo-image"> 
        </div>
        
        <nav class="nav-links">
            <a href="#">Home</a>
            <div class="nav">
                <a href="#">About <i class="ri-arrow-down-s-line"></i></a>
                <a href="#">Pages <i class="ri-arrow-down-s-line"></i></a>
                <a href="#">Blog <i class="ri-arrow-down-s-line"></i></a>
            </div>
            <a href="#">My Projects</a>
        </nav>
        
        <div class="profile-icon">
            <img src="{% static 'images/acc.png' %}" alt="Profile Icon" class="logo-image"> 
        </div>
    </header>

    <main>
        <h1>Input <span>GUI</span></h1>
        <div class="form-section">
          <div class="page-dropdown">
            <select id="page-dropdown">
              <option value="Type Page">Type Page</option>
            </select>
            <button onclick="addPage()" class="add-page">
              <img src="{% static 'images/Add.png' %}" alt="Add Page" class="add-icon">
            </button>
          </div>
          
          <div class="attribute-section" id="attribute-section">
            <div class="attribute-group">
              <input type="text" placeholder="Type Attribute" class="attribute-input">
              <button onclick="addAttribute()" class="add-attribute">
                <img src="{% static 'images/Add.png' %}" alt="Add Attribute" class="add-icon">
              </button>
              <button onclick="removeAttribute()" class="delete-button">
                <img src="{% static 'images/Trash.png' %}" alt="Delete" class="delete-icon">
              </button>
            </div>
          </div>
          
          <button class="save-button">Save</button>
        </div>
      </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
