<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input User Story</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/2.5.0/remixicon.min.css">
    <link rel="stylesheet" href="{% static 'css/inputUS.css' %}">
</head>
<body>
    <header class="main-header">
        <div class="logo">
            <a href="{% url 'homepage' %}">
            <img src="{% static 'images/logoo.png' %}" alt="Generate Logo" class="logo-image">
        </div>
        <nav class="nav-links">
            <a href="{% url 'homepage' %}">Home</a>
            <div class="nav">
                <a href="#">About <i class="ri-arrow-down-s-line"></i></a>
                <a href="#">Pages <i class="ri-arrow-down-s-line"></i></a>
                <a href="#">Blog <i class="ri-arrow-down-s-line"></i></a>
            </div>
            <a href="#">My Projects</a>
        </nav>
        <div class="profile-icon">
            <i class="ri-account-circle-line"></i>
        </div>
    </header>

    <div class="container">
        <div class="back"><a href="{% url 'homepage' %}">
            <i class="ri-arrow-left-line"></i></a>
        </div>
        <div>
            <h1>Input <span><br>User Story for Project {{ project.nama_project}}</span></h1>
        </div>

        <form class="user-story-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save-button">Save</button>
        </form>
        
    </div>

</body>
</html>