<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="left-side">
                <div class="logo">
                    <img src="{% static 'images/logoo.png' %}" alt="Logo">
                </div>
                
        </div>
        <div class="right-side">
            <div class="form-container">
                <a href="{% url 'home' %}" class="back-link">Back</a>
                <h1>Register Individual Account!</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Register</button>
                </form>
                <p class="login-link">Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </div>
            </div>
        </div>
    </div>
</body>
</html>