<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Diagram Result</title>
    <link rel="stylesheet" href="{% static 'css/resultClass.css' %}">
</head>
<body>
    <!-- Result Page Content -->
    <div id="result-page" class="result-page">
        <div class="back-arrow" onclick="window.history.back()">←</div>
        <div class="result-header">
            <h1><span class="result-text">Result</span><br>Class Diagram</h1>
        </div>
        <div class="diagram-container">
            <img id="activity-diagram-result" src="{% static 'images/class.jpg' %}" alt="Activity Diagram">
        </div>
        <a href="{% url 'homepage' %}" class="back-to-home">Go to Homepage</a>
    </div>
    <script src="{% static 'js/class.js' %}"></script>
</body>
</html>
